.img-src {
    position: fixed;
    background-position: top;
    background-size: cover;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

}

#quemsoueu {

    width: 400px;
    height: 550px;
    margin: auto;
    background-color: rgba(11, 0, 34, 0.966);
    top: 50%;
    margin-top: 250px;
}

.blurred {
    opacity: 0.0;

}

.article {
    width: 400px;
    height: 2000px;
}

.perfil{
   display: flex;
   justify-content: center;
   align-items: center;
   
}

h1 {
    font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    color: #fff;
    position: relative;
    
    font-size: 35px;
    top: 50%;
    margin-top: -0250px;
    left: 50%;
    margin-left: -68px;

}

h2 {
    font-family: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    color: #fff;
    position: fixed;
    z-index: 9999;
    font-size: 50px;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -103px;
    /*background-color: rgba(43, 42, 42, 0.932);
    */
}