@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #fff;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 700;
}


.img-src {
    position: fixed;
    background-position: top;
    background-size: cover;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

}

#quemsoueu {
    width: 400px;
    height: 550px;
    margin: auto;
    background-color: rgba(19, 15, 43, 0.801);
    top: 50%;
    margin-top: 350px;
    border: 1.5px solid rgb(185, 185, 185);
    border-radius: 2rem;
}

.blurred {
    opacity: 1.0;
}

.article {
    width: 400px;
    height: 1500px;
}

.perfil{
   display: flex;
   justify-content: center;
   align-items: center;
   
}

h1 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: #fff;
    position: relative;
    
    font-size: 35px;
    top: 50%;
    margin-top: -0250px;
    left: 50%;
    margin-left: -72px;

}

P{
    font-weight: normal;
    text-align: center;
    display: flex;
    margin-top: 300px;
    
    
}

